@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 375px) {
  * {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

em {
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@keyframes menu-opening {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-10px);
    opacity: 0.6;
  }
  80% {
    transform: translateX(10px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes hide-arrow {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@keyframes location-opening {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
.foodcard {
  display: flex;
  flex-direction: row;
  height: 69px;
  margin-bottom: 1.125rem;
  justify-content: space-between;
  align-items: center;
}
.foodcard h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.125rem;
  font-weight: 500;
}
.foodcard p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
}
.foodcard__content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 13px;
  white-space: nowrap;
  overflow: hidden;
}
.foodcard__price {
  position: relative;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.foodcard__price span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-items: flex-end;
  position: relative;
  padding: 1rem;
  width: 3rem;
}
.foodcard__price i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  width: 3.75rem;
}
.foodcard .checked {
  height: 100%;
  overflow: hidden;
}
.foodcard input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.foodcard input[type=checkbox]:hover {
  cursor: pointer;
}
.foodcard input[type=checkbox]:checked ~ .checked i {
  width: 60px;
  transition: all 0.25s ease-in-out;
}
.foodcard input[type=checkbox]:not(:checked) ~ .checked i {
  width: 0px;
  transition: all 0.25s ease-in-out;
}

.restaurantcard {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1.125rem;
}
@media screen and (min-width: 768px) {
  .restaurantcard {
    width: 45%;
  }
}
.restaurantcard__content {
  padding: 13px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  -o-object-fit: contain;
     object-fit: contain;
}
.restaurantcard > img {
  position: relative;
  height: 50vw;
}
@media screen and (min-width: 768px) {
  .restaurantcard > img {
    height: 30vw;
  }
}
@media screen and (min-width: 1080px) {
  .restaurantcard > img {
    height: 20vw;
    max-height: 172px;
  }
}
.restaurantcard a {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.restaurantcard.newcard h2::before {
  content: "nouveau";
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  font-size: 0.8rem;
  top: 5%;
  right: 5%;
}

.cta {
  border: 0px;
  border-radius: 25px;
  height: 72px;
  margin: 15px 0px;
  padding: 0px 19px;
  display: grid;
  align-items: center;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  height: 50px;
  margin: 30px 0px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.cta::after {
  content: "";
  position: absolute;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.cta:hover {
  cursor: pointer;
  opacity: 0.66;
}
.cta:hover::after {
  opacity: 1;
}

.heartbox {
  position: relative;
  margin: 1rem;
  width: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
}
.heartbox img {
  position: absolute;
}
.heartbox input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.heartbox input[type=checkbox]:checked ~ .checked {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  opacity: 1;
}
.heartbox input[type=checkbox]:not(:checked) ~ .checked {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  opacity: 0;
}
.heartbox:hover {
  cursor: pointer;
}

.loader {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: scale(0.001);
  animation: loader-in 3000ms forwards ease-in-out; /* le loader occupe toute la page pendant 3s puis disparait */
}
.loader:before { /* peudo element pour animer l'opacité du fond du loader */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: white;
  animation: fade-out 2000ms 2000ms forwards ease-out;
}

.domino {
  top: 50vh;
  animation: slide-out 0.5s 2500ms forwards ease-out;
}
.domino > div {
  border-radius: 0.5rem;
  display: inline-flex;
  transform: rotate(45deg);
  width: 3rem;
  height: 3rem;
  animation: domino-effect 2000ms backwards ease-out;
}
.domino > div:after {
  content: "";
  position: relative;
  top: 0px;
  left: -4.5rem;
  opacity: 0;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  animation: illusion 2000ms forwards ease-out;
}
.domino > div:last-child:after {
  animation: size-up 1s 2000ms forwards ease-in-out;
}
.domino > div:nth-child(1) {
  background: #FF79DA;
}
.domino > div:nth-child(1):after {
  background: #FF79DA;
  animation-delay: 500ms;
}
.domino > div:nth-child(2) {
  background: #E470da;
}
.domino > div:nth-child(2):after {
  background: #E470da;
  animation-delay: 1000ms;
}
.domino > div:nth-child(3) {
  background: #b762db;
}
.domino > div:nth-child(3):after {
  background: #b762db;
  animation-delay: 1500ms;
}
.domino > div:nth-child(4) {
  background: #9356dc;
}
.domino > div:nth-child(4):after {
  background: #9356dc;
  animation-delay: 2000ms;
}
.domino > div:nth-child(5) {
  background: #eb7260;
}
.domino > div:nth-child(5):after {
  background: #eb7260;
  animation-delay: 2500ms;
}
.domino > div:nth-child(1) {
  margin: 1.5rem;
  animation-delay: 500ms;
}
.domino > div:nth-child(2) {
  margin: 1.5rem;
  animation-delay: 1000ms;
}
.domino > div:nth-child(3) {
  margin: 1.5rem;
  animation-delay: 1500ms;
}
.domino > div:nth-child(4) {
  margin: 1.5rem;
  animation-delay: 2000ms;
}
.domino > div:nth-child(5) {
  margin: 1.5rem;
  animation-delay: 2500ms;
}

@keyframes loader-in {
  1% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
}
@keyframes fade-out {
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-out {
  100% {
    transform: translateX(2000px);
    opacity: 0;
  }
}
@keyframes size-up {
  20% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes domino-effect {
  30% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes illusion {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  25% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(135deg);
  }
  50% {
    opacity: 0;
    transform: scale(0.2);
  }
}
article {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  background-color: white;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #353535;
  color: #fff;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  margin: 1rem 0;
}
footer ul {
  display: flex;
  flex-direction: column;
}
footer i {
  margin: 0;
  padding: 0 10px 0 0;
}
footer a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
  }
  footer ul {
    margin: 1rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  z-index: 2;
}
header img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}
header i {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

body {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1440px;
}

main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0;
  background: linear-gradient(0deg, #EAEAEA 95%, lightgrey 100%);
  transform-origin: top;
  animation: location-opening 250ms 250ms both ease-out;
}
.location i {
  margin-right: 1rem;
}

.intro {
  background-color: #F6F6F6;
  text-align: center;
}
.intro__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 1120px;
}
.intro__block > h1, .intro__block > h2 {
  margin: 30px 0px;
}

.instructions__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 1120px;
  align-items: center;
  padding: 20px;
}
.instructions__block > h1, .instructions__block > h2 {
  margin: 30px 0px;
}
.instructions__block h2 {
  align-self: start;
}
.instructions__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.instructions__button {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border: 0px;
  border-radius: 25px;
  height: 72px;
  margin: 15px 0px;
  padding: 0px 19px;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 400px;
  font-size: 1.2rem;
  grid-template-columns: 70px 3fr;
  justify-items: left;
  background-color: #EAEAEA;
}
.instructions__button i {
  color: grey;
  justify-self: center;
}
.instructions__button .dot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.instructions__button:nth-last-child(1) i {
  color: #9356DC;
}
@media screen and (min-width: 576px) {
  .instructions .instructions__grid {
    max-width: 576px;
  }
}
@media screen and (min-width: 1080px) {
  .instructions .instructions__grid {
    max-width: 1080px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .instructions .instructions__button {
    width: 30%;
  }
}

.restaurants {
  background-color: #F6F6F6;
}
.restaurants__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 1120px;
  align-items: center;
}
.restaurants__block > h1, .restaurants__block > h2 {
  margin: 30px 0px;
}
.restaurants h2 {
  align-self: start;
}
.restaurants__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurants__grid {
    max-width: 1120px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
}

.menu {
  position: relative;
  max-width: 1080px;
  background-color: #F6F6F6;
}
.menu::before {
  position: absolute;
  content: "";
  top: -30px;
  width: 100%;
  height: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #F6F6F6;
}
.menu__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 1120px;
  max-width: 634px;
}
.menu__block > h1, .menu__block > h2 {
  margin: 30px 0px;
}
.menu__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu__title h1 {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  .menu__title {
    width: 50%;
    justify-content: space-around;
  }
}
.menu__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu__content h2 {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.menu__content h2:after {
  content: "";
  height: 5px;
  width: 40px;
  border-bottom: 2px solid #99E2D0;
}
.menu .cta {
  align-self: center;
  width: 50%;
}
.menu .foodcard {
  animation: menu-opening 500ms both ease-in-out;
}
.menu .foodcard:nth-of-type(1) {
  animation-delay: 350ms;
}
.menu .foodcard:nth-of-type(2) {
  animation-delay: 450ms;
}
.menu .foodcard:nth-of-type(3) {
  animation-delay: 550ms;
}
.menu .foodcard:nth-of-type(4) {
  animation-delay: 650ms;
}
.menu .foodcard:nth-of-type(5) {
  animation-delay: 750ms;
}
.menu .foodcard:nth-of-type(6) {
  animation-delay: 850ms;
}
.menu .foodcard:nth-of-type(7) {
  animation-delay: 950ms;
}
.menu .foodcard:nth-of-type(8) {
  animation-delay: 1050ms;
}
.menu .foodcard:nth-of-type(9) {
  animation-delay: 1150ms;
}
.menu .foodcard:nth-of-type(10) {
  animation-delay: 1250ms;
}

.cover-image {
  position: relative;
  width: 100%;
  height: 73vw;
  max-height: 45vh;
}
.cover-image img {
  height: 100%;
}
.cover-image::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: white;
  opacity: 0;
  transform-origin: top;
  animation: slide-up 250ms 250ms both ease-out;
}/*# sourceMappingURL=main.css.map */