
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

section {  display:flex;
  flex-direction: column;}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}
