@import 'config';


* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
  }


footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
  }