$anim-dur:500ms;
$anim-delay:250ms;


@keyframes menu-opening {
0%{
    transform:translateX(2000px);
    opacity:0;
}
50%{
    transform:translateX(-10px);
    opacity:0.6;
}
80%{
    transform:translateX(10px);
    opacity:0.8;
}

100%{
    transform:translateX(0px);
    opacity:1;
}
}

@keyframes location-opening {
    0%{
        transform:translateY(-200px);
        opacity: 0;
    }
    80%{
        opacity:0.4;
    }
    90%{
        opacity:0.6;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
    }

@keyframes slide-up {
    0%{
        transform:scaleY(1);
        opacity: 1;
    }
    80%{
        opacity:0.9;
    }
    90%{
        opacity:0.8;
    }
    100%{
        transform:scaleY(0);
        opacity:0;
    }
    }
