
.location {
    @include flexCenter(row);
    height: 50px;
    width: 100%;
    padding:0;
    background: linear-gradient(0deg,$secondary-bg-color 95%, lightgrey 100%);
    transform-origin: top;
    animation: location-opening $anim-dur*0.5 $anim-delay both ease-out;
    i {
        margin-right: 1rem;
    }
}

.intro {
    background-color:$primary-bg-color;
    text-align: center;
    &__block {
        @include block;
    }
}

// section instructions

.instructions {
    &__block{
        @include block;
        align-items: center;
        padding:20px;
        & h2 {align-self:start;}
    }
    &__grid{
        @include flexCenter(column);
        width: 100%;
    }
    &__button {
        @include box-shadow;
        @include buttonshape {
        width: 100%;
        max-width: 400px;
        font-size: 1.2rem;
        grid-template-columns: 70px 3fr;
        justify-items:left;
        background-color:$secondary-bg-color;
        }
        i {
            color: grey;
            justify-self: center;
        }
    .dot {
        @include rounded-dot($primary-color);
        position:absolute;
        left:-10px;
    }
    }
    &__button:nth-last-child(1){ // couleur du dernier bouton
        i {color:$primary-color;}
    }

    //media querries

    @include media-min($small) {
        .instructions{
            &__grid{
                max-width: 576px;
            }
        }
    }

    @include media-min($large) {
        .instructions{
            &__grid{
                max-width: 1080px;
                flex-direction: row;
                justify-content: space-evenly;
            }
            &__button{
                width: 30%;
            }
        }
    }

}

// section restaurants 

.restaurants {
    background-color: $primary-bg-color;
    &__block {
        @include block;
        align-items:center;
    }
    & h2 {align-self: start;}
    &__grid {
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    //media querries //
    @include media-min($medium) {
        &__grid{
            max-width: 1120px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap:50px;
        }
    }
}


//media querries
