
.home {

    &__localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        background-color: $secondary--bg-color;
        i { margin-right: 1rem;}
    }
    &__intro {

        flex-direction: column;
        text-align: center;
    }

}

.restaurants {
    margin:0;
    padding:17px;
    border-radius: 20px;
    background-color: $primary-bg-color;
    &__grid {
        display:flex;
        width:100%;
    }
}


