
.menu {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position:relative;
    padding: 1rem;
    top:-30px;
    background-color: $primary-bg-color;
    &__title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin:1rem;
        h1 {font-family:'Shrikhand', cursive;}
        // i {left:-20px;}
    }
    &__content {
        display:flex;
        flex-direction: column;
        width: 100%;
        h2 {
            text-align: left;
            font-size: 1rem;
            font-weight: 300;
            @include stroke-underline($tertiary-color);
            margin-bottom: 1rem;
        }
    }

    & .food-card {
        
        animation: menu-opening $anim-dur both ease-in-out;

        @for $i from 1 through 8 {
            & .menu:nth-child(#{$i}){
                animation-delay: $anim-delay * $i;
            }
        }

        &::before{
        @include pseudo-elem;
        border:2px solid $tertiary-color;
        background-color: aqua;
        opacity:0;
        transition: 0.25s ease-in-out;
        }    
    }
        .cta {
            order:1;
            align-self:center;
            width: 50%;
            &:active~ article::before {opacity:0.1;};
        }
}   