
.menu {
    max-width: 1080px;
    background-color: $primary-bg-color;
    padding: 1rem;
    top:-30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position:relative;
    &__block{
        @include block;
        max-width: 634px;
    }
    &__title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin:1rem;
        h1 {
            font-family:'Shrikhand', cursive;
        }
    }
    &__content {
        display:flex;
        flex-direction: column;
        width: 100%;
        h2 {
            text-align: left;
            font-size: 1rem;
            font-weight: 300;
            @include stroke-underline($tertiary-color); // pseudo element pour trait vert en dessous
            margin-bottom: 1rem;
        }
    }
    .cta {
        align-self:center;
        width: 50%;
        &:active~ .foodcard::before {opacity:0.1;};
    }

    & .foodcard{

           //animation//
        animation: menu-opening $anim-dur both ease-in-out;
    
        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
                animation-delay: $anim-delay + 100ms* $i; // cartes apparraissent avec un délai de 100ms entre elles
            }
        }
    }
}

.cover-image {
    position:relative;
    width: 100%;
    height: 73vw;
    max-height: 30vh;
    &::before{
        content:' ';
        position:absolute;
        width: 100%;
        height:50px;
        background-color:white;
        opacity:0;
        transform-origin: top;
        animation: slide-up $anim-dur*0.5 $anim-delay both ease-out;
    }
    
}