@import 'foodcard';
@import 'restaurant-card';
@import 'btn';



article {
    display:flex;
    flex-direction: column;
    @include box-shadow;
    background-color: white;
    margin:0;
    padding:0;
    border-radius: 20px;
    width: 100%;
    img {
      object-fit: cover;
      }

  }

