
.cta {
    @include buttonshape;
    @include box-shadow;
    @include transition-ease;
    @include hover-lighten;
    //font//
    font-size: 1.1rem;
    font-weight: 400;
    color:white;
    //size//
    height: 50px;
    margin: 30px 0px;
    //background//
    background:
    linear-gradient($secondary-color, $primary-color);

}

@mixin rounded-dot($color) {
    @include flexCenter (column);
    background: $color;
    color: set-text-color($color);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}