$border-radius:25px;


@mixin buttonshape {
    @include box-shadow;
    border:0px;
    border-radius: $border-radius;
    height:72px;
    margin: 15px 0px;
    padding:0px 19px;
    display: grid;
    align-items:center;
    @content;
}

    
.cta {
    @include buttonshape{
        font-size: 1.1rem;
        font-weight: 600;
        height: 50px;
    };
    @include transition-ease;
    @include hover-lighten;
    margin: 30px 0px;
    background:
    linear-gradient($secondary-color, $primary-color);
    font-weight: 400;
    color:white;
}