.food-card {
    width:100%;
    height: 69px;
    padding:13px;
    margin-bottom: 1.125rem;
    flex-direction: row;
    align-items:flex-end;
    overflow:hidden;

    &_content {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }



}