.heartbox {
    position:relative;
    margin:0.5rem;
    width:1.5rem;
    object-fit: contain; 
    z-index: 1; // placé au dessus de l'élément <a>
    & img {
        position:absolute;             //pour superposer les deux images svg
    }
    input[type="checkbox"]{
        appearance: none;               //checkbox masquée
        &:checked~.checked{
            @include transition-ease; 
            opacity:1;                  //coeur plein visible
        }
        &:not(:checked)~.checked{
            @include transition-ease;
            opacity:0;                  //coeur plein masqué
        }
    }
    &:hover{
        cursor:pointer;
    }
}

