$colorArray: #FF79DA #E470da #b762db #9356dc #eb7260;
$base: #E9E0D6;
$n: 10;
$loaderdur:2000ms;


// credit https://codepen.io/akshaycodes/pen/OaXJgZ //

.loader {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform:scale(0.001);
    animation: loader-in $loaderdur*1.5 forwards ease-in-out; /* le loader occupe toute la page pendant 3s puis disparait */

    &:before{ /* peudo element pour animer l'opacité du fond du loader */
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity:0.8;
        background-color: white;
        animation:fade-out $loaderdur $loaderdur forwards ease-out;
    }
}

  
.domino {
    margin-top:30vh;
    animation: slide-out 0.5s $loaderdur+0.5s forwards ease-out; // animation de sortie
    & > div {
        border-radius: 0.5rem;
        display: inline-flex;
        transform: rotate(45deg);
        width: 3rem;
        height: 3rem;
        animation: domino-effect $loaderdur backwards ease-out; // rotation de 135deg 
        
        @each $current-color in $colorArray { // couleurs de fond des carrés
            $i: index($colorArray, $current-color) ;
            &:nth-child(#{$i}){
                background: $current-color;
                &:after {
                background: $current-color;
                animation-delay: #{$loaderdur *0.25 * $i};
                }
            }
        }
        @for $i from 1 through $n {
            &:nth-child(#{$i}){
                margin: 1.5rem;
                animation-delay: #{$loaderdur *0.25 * $i};
            }
        }
        &:after {
            content: '';
            position: relative;
            top: 0px;
            left: -4.5rem;
            opacity: 0;
            border-radius: 0.5rem;
            width: 3rem;
            height: 3rem;
            animation:  illusion $loaderdur forwards ease-out;
        }
        &:last-child:after {
            animation: size-up 1s $loaderdur forwards ease-in-out;
        }
    }
}
   

//animation
@keyframes loader-in {   
    1% {transform:scale(1);
    }
    99% {
        transform:scale(1);
    }
}

@keyframes fade-out {  
    
    25% {opacity:0.8;}
    50% {opacity:0.6;}
    75% {opacity:0.4}
    100% {opacity: 0;}
}

@keyframes slide-out {
    100% {
        transform:translateX(2000px);
        opacity: 0;
    }
}
@keyframes size-up {
    20% {
        transform: scale(1);
        opacity: 1;
    }
    40% {
        transform:scale(1.5);
        opacity: 1;
    }
    100% {
        transform:scale(0);
        opacity: 0;
    }

}

@keyframes domino-effect {
    30% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

@keyframes illusion {
    0% {
        opacity: 0;
        transform:scale(0.2);
    }
    25% {
        opacity: 1;
        transform:scale(1);
        transform: rotate(135deg);
    }
    50% {
        opacity:0;
        transform:scale(0.2);
    }
}   