.restaurantcard {
    width:100%;
    height: 67vw;
    max-height: 251px;
    max-width: 400px;
    margin-bottom: 1.125rem;
    &__content {
        padding:13px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        object-fit: fill;
    }
    > img {
        position:relative;
        height:69%;
    } 
    a {
        position :absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &.newcard {
        h2::before {
            content:'nouveau';
            @include tagbox;
            position: absolute;
            font-size: 0.8rem;
            top:5%;
            right:5%;
        }
    }

    @include media-min($medium) {
        height:251px;
        width:45%;
    }
}
