.restaurant-card {
    width:100%;
    height: 60vw;
    margin-bottom: 1.125rem;

    &__content {
        padding:13px;
        display:grid;
        height: 31%;
        align-items: center;
        grid-template-areas:
        "h2 label"
        "p label";
        grid-template-columns: 1fr 30px;
        h2{grid-area:h2;}
        label{grid-area:label;}
        p{grid-area:p;}
    }

    img {
        height:69%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    a {
        position :absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

