@mixin tagbox {
        padding:5px 10px;
        border-radius: 2px;
        background-color: $tertiary-color;
        color:darken($tertiary-color,50%);
        z-index: 1;
}


.restaurant-card {
    width:100%;
    height: 60vw;
    margin-bottom: 1.125rem;

    &__content {
        padding:13px;
        display:grid;
        align-items: center;
        grid-template-areas:
        "h2 label"
        "p label";
        grid-template-columns: 1fr 30px;
        h2{grid-area:h2;}
        label{grid-area:label;}
        p{grid-area:p;}
    }
    img {
        position:relative;
        height:69%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    } 
    a {
        position :absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.restaurant-card--new{
    @extend .restaurant-card;
    h2::before {
        content:'nouveau';
        @include tagbox;
        position: absolute;
        font-size: 14px;
        top:20px;
        right:20px;
    }
}