.restaurantcard {
    width:100%;
    height: 60vw;
    margin-bottom: 1.125rem;

    &__content {
        padding:13px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    > img {
        position:relative;
        height:69%;
    } 
    a {
        position :absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &.newcard {
        h2::before {
            content:'nouveau';
            @include tagbox;
            position: absolute;
            font-size: 14px;
            top:20px;
            right:20px;
        }
    }

    @include lg {
        height:251px;
        width:45%;
    }
}
