$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$primary-bg-color:#F6F6F6;
$secondary--bg-color:#EAEAEA;
$tertiary-bg-color:#353535;



@function set-text-color($color) {
    @if (lightness($color) > 60%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin flexCenter($direction) {
  display:flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
    } 

@mixin hover-lighten {
  &:hover {
    
    cursor:pointer;
    background-image: linear-gradient(lighten($secondary-color,5%),lighten($primary-color,5%));}
  }

@mixin stroke-underline ($color) {
    display:flex;
    flex-direction: column;
    &:after{
      content:'';
      height: 5px;
      width: 40px;
      border-bottom:2px solid $color;}
}