//functions//

@function set-text-color($color) {
    @if (lightness($color) > 60%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }

  //mixins//

@mixin box-shadow {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
  }

@mixin buttonshape {
  border:0px;
  border-radius: 25px;
  height:72px;
  margin: 15px 0px;
  padding:0px 19px;
  display: grid;
  align-items:center;
  @content;
}


@mixin flexCenter($direction) {
  display:flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
}

@mixin hover-lighten {
  &:hover {
    cursor:pointer;
    opacity:0.66;
  }
}

@mixin pseudo-elem {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin rounded-dot($color) {
  @include flexCenter (column);
  background: $color;
  color: set-text-color($color);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

@mixin stroke-underline ($color) {
  display:flex;
  flex-direction: column;
  &:after{
    content:'';
    height: 5px;
    width: 40px;
    border-bottom:2px solid $color;}
}

@mixin tagbox {
  padding:5px 10px;
  border-radius: 2px;
  background-color: $tertiary-color;
  color:darken($tertiary-color,50%);
}

@mixin transition-ease {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s  ease-in-out;
}




