// extra small smartphone
$xsmall:375px;
// Small tablets and large smartphones (landscape view)
$small:576px;
// Small tablets (portrait view)
$medium:768px;
// Large tablets and desktops
$large:1080px;

@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
      &{ @content; }
    }
  }

@mixin media-max($_max-width) {
@media screen and (max-width: $_max-width) {
    &{ @content; }
}
}