$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$primary-bg-color:#F6F6F6;
$secondary--bg-color:#EAEAEA;
$tertiary-bg-color:#353535;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Shrikhand', cursive;
}

ul {
  list-style-type: none;
}

a {
  color:black;
  text-decoration: none;
}

img {

  object-fit: cover;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
    width: 100%;
    max-width: 1440px;
  }


main {
  width: 100%;
  max-width: 1440px;
  }
