
footer {
    padding-left: 25px;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: $tertiary-bg-color;
    color: white;
    h3 {
        color:white;
        margin:1rem 0;
    }
    i {
        margin:0;
        padding: 0 10px 0 0;
    }
  }