
footer {
    $bg-color: $tertiary-bg-color;
    padding-bottom:1rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background: $bg-color;
    color:set-text-color($bg-color);
    h3 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.125rem;
        margin:1rem 0;
    }
    i {
        margin:0;
        padding: 0 10px 0 0;
    }
    a {color:set-text-color($bg-color);}
  }