
footer {
    padding-left: 25px;
    font-size: 1rem;
    line-height: 1.5rem;
    background: $tertiary-bg-color;
    color:set-text-color($tertiary-bg-color);
    h3 {
        margin:1rem 0;
    }
    i {
        margin:0;
        padding: 0 10px 0 0;
    }
  }