header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    z-index: 2;
    img {
        height: 3rem;
        object-fit: contain;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    a {
        position:absolute;
        top:1.5rem;
        left:1.5rem;
        &.hidden {
            opacity:0;
            animation: hide-arrow $anim-dur/2 $anim-delay/2 both ease-out;
        }
    }

    .location {
        @include flexCenter(row);
        height: 3rem;
        width: 100%;
        background: linear-gradient(0deg,$secondary-bg-color 95%, lightgrey 100%);
        i { position:relative;
            align-items: center;
            margin-right: 1rem;}
        transform-origin: top;
        animation: location-opening $anim-dur/2 $anim-delay/2 both ease-out;
    }
    

}
