header {
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
    height: 4rem;
    padding: 1rem;

    img {
        object-fit: contain;
        width:197px;}

    i {
        position:absolute;
        top:1.5rem;
        left:1.5rem;
        &.hidden {display:none;}
    }

  }
