header {
    position:relative;
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
    height: 4rem;
    padding: 1rem;
    z-index: 2;

    img {
        object-fit: contain;
        width:50%;}

    i {
        position:absolute;
        top:1.5rem;
        left:1.5rem;
    }

}
