
body {
  position: relative;
  margin:auto;
  width: 100%;
  max-width: 1440px;
}

main {
width: 100%;
max-width: 1440px;
display: flex;
@include flexCenter(column);
background-color: white;
}


section {  
    @include flexCenter(column);
    width: 100%;
  }

@mixin block {
  @include flexCenter(column);
  margin:0;
  padding:20px;
  width: 100%;
  max-width: 1120px;
  >h1, >h2 { margin:30px 0px};
}
